{{>headerlinks}}
{{>navbar}}
<!-- main header -->
<div class="container-fluid main_header">
    <div class="rows">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
                <!-- making lft and write through row class -->
                <!-- left side div -->
                <div class=" col-md-12 col-12 main_header_left align-items-center ">
                    <figure class="errimg">
                        <img src="img/error.png" alt="mayank" class="img-fluid" title="msr">
                    </figure>
                    <p>Welcome to Mayank's Website</p>
                    <h1>{{errormsg}}</h1>
                    <a href="/"><button>Go back</button></a>
                </div>
                <!-- right side div -->

            </div>
        </div>
    </div>
</div>
{{>footer}}