<!DOCTYPE html>
<html lang="en">

<head>
  {{>headerlinks}}
</head>

<body>
  {{>navbar}}
  <!-- main header -->
  <div class="container-fluid main_header">
    <div class="rows">
      <div class="col-md-10 col-12 mx-auto">
        <div class="row">
          <!-- making lft and write through row class -->
          <!-- left side div -->
          <div class=" col-md-6 col-12 main_header_left align-items-center ">
           <figure>
               <img src="img/prachi.jpg" alt="prachi" class="img-fluid" title="ps" style = "margin-top: 30px;">
           </figure>
          </div>
          <div class="col-md-6 col-12 main_header_left">
            <p>Welcome to the weather app</p>
            <h1>Just an <span class= " text_clr">ordinary student</span> trying to make my way <span class= " text_clr">to the top</span></h1>
            <a href="https://twitter.com/skies1104" target="_blank"><button>About me</button></a>
          </div>
          <!-- right side div -->

        </div>
      </div>
    </div>
  </div>
  {{>footer}}
</body>

</html>